{% macro gigCard(g, showVenue=true) %}
<div class="border border-black p-3 flex flex-col">
  <div>
    <div class="mb-8">
      <div class="font-bold text-xl break-words">{{ g.promotedName }}</div>
      {% if g.performersListJson and g.performersListJson.length > 0 %}
      <div class="text-sm line-clamp-4">
        w/ {% for a in g.performersListJson %} {{ a }}{% if not loop.last %},{%
        endif %} {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="mt-auto text-lg opacity-60">
    <span>{{ g.gigStartDate | date }}</span>
    {% if showVenue and g.venue and g.venue.venueName %}
    <span>@</span>
    <span class="font-bold">{{ g.venue.venueName }}</span>
    {% endif %}
  </div>
</div>
{% endmacro %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">    <script src="https://cdn.tailwindcss.com"></script>
    <script src="section-toggles.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="font-instrumentSans">
    <div id="header"
      class="w-full h-screen bg-cover bg-center relative"
      style="background-image: url('../assets/1.jpeg')"
    >
      <div
        class="absolute top-8 right-8 md:top-12 md:right-12 w-[250px] md:w-[300px] lg:w-[400px]"
      >
        <img
          src="../assets/sydney-music.svg"
          alt="SydneyMusic.net logo"
          class="w-full h-auto"
        />
      </div>
      <div
        class="absolute md:items-end bottom-8 w-full px-8 text-white flex flex-col md:flex-row justify-between items-center"
      >
        <div class="mb-4 md:mb-0 text-center md:text-left z-10">
          <div class="text-4xl lg:text-7xl">2024 In Review:</div>
          <div class="statistic text-2xl lg:text-4xl">
            WHAT WE'VE ALL BEEN UP TO
          </div>
        </div>
        <ul class="flex justify-center space-x-5 mt-4 sm:mt-0 z-10">
          <li>
            <a
              href="https://www.instagram.com/sydneymusicdotnet/"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:opacity-60 transition-all duration-300"
            >
              <img
                src="../assets/instagram.svg"
                alt="Instagram logo"
                class="w-8 h-8 sm:w-10 sm:h-10 text-white"
              />
            </a>
          </li>
          <li>
            <a
              href="https://open.spotify.com/playlist/3C0qSK5LhiFKDdVcHzRR01?si=YGV1klVyQX2ss1pw1Zyo8g"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:opacity-60 transition-all duration-300"
            >
              <img
                src="../assets/spotify.svg"
                alt="spotify logo"
                class="w-8 h-8 sm:w-10 sm:h-10 text-white"
              />
            </a>
          </li>
          <li>
            <a
              href="https://sydneymusic.net/"
              target="_blank"
              rel="noopener noreferrer"
              class="hover:opacity-60 transition-all duration-300"
            >
              <img
                src="../assets/can-man.svg"
                alt="Link to SydneyMusic.net"
                class="w-8 h-8 sm:w-10 sm:h-10"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>

    <section
      class="w-full flex items-center justify-center text-3xl lg:mt-24 my-10"
    >
      <div
        class="lg:w-1/2 p-6 lg:border-y-2 border-black text-center space-y-6"
      >
        <p>
          2024 was an amazing year for music in Sydney. We thought you might enjoy this opportunity to take a look back at the year that was.
        </p>
        <p>There are plenty of interesting insights to consider about what this information tells us about our city. We'd love to hear your thoughts!</p>

        <p>Love,<br />Team SMn x</p>
      </div>
    </section>
    <div class="text-center text-sm text-gray-500">
      This retrospective was built by<br /><a href="https://joe.hardy.id.au" target="_blank">Joe Hardy</a> (data analysis and hackery)<br /><a href="https://jackhall.info/" target="_blank">Jack Hall</a> (design and front-end)
    </div>
  
    <section class="space-y-3 sm:px-10 p-24 px-3">
      <div
        class="grid md:grid-cols-3 grid-cols-2 w-full h-full gap-3 text-white text-2xl xl:text-4xl"
      >
        <div
          class="relative bg-black rounded-br-[4rem] rounded-bl-[4rem] rounded-tl-[4rem] p-8 hover:rounded-[4rem] transition-all duration-300"
        >
          <div>SydneyMusic.net covered</div>
          <div class="text-4xl xl:text-7xl statistic font-light">
            {{ gigs.length.toLocaleString() }}
          </div>
          gigs in 2024
        </div>
        <div
          class="relative bg-black rounded-bl-[4rem] rounded-tr-[4rem] rounded-br-[4rem] p-8 hover:rounded-[4rem] transition-all duration-300"
        >
          <div>
            <span>That's an average of</span>
            <span class="text-4xl xl:text-7xl statistic">
              {{ (gigs.length / 365) | round(2) }}
            </span>
            <div>gigs in Sydney per day</div>
          </div>
        </div>
        <div
          class="relative bg-black rounded-bl-[4rem] rounded-tl-[4rem] rounded-tr-[4rem] p-8 hover:rounded-[4rem] transition-all duration-300"
        >
          <span class="text-4xl xl:text-7xl statistic">
            ...{{ gigsFree.toLocaleString() }}
          </span>
          <span>
            of those gigs were free ({{ ((gigsFree /
            gigs.length)*100) | round }}%)
          </span>
        </div>
        <div
          class="relative bg-black rounded-bl-[4rem] rounded-tl-[4rem] rounded-tr-[4rem] p-8 hover:rounded-[4rem] transition-all duration-300"
        >
          <span class="text-4xl xl:text-7xl statistic">
            15%*
          </span>
          <span>
            of gigs were submitted to us
          </span>
          <div class="text-xs">* extrapolated from data beginning July 7<br />(total number of conversations: 621)</div>
        </div>
        <div
          class="relative bg-black sm:row-span-2 lg:row-span-4 col-span-2 p-8 rounded-tl-[4rem] rounded-br-[4rem] hover:rounded-[4rem] transition-all duration-300 pb-14"
        >
          <div>Top 10 venues on SydneyMusic.net:</div>
          <div class="flex flex-wrap gap-2 pt-6">
            {% for v in busiestVenues %}
            <a
              class="bg-white text-black"
              target="_blank"
              rel="noopener noreferrer"
              href="https://sydneymusic.net/gig-guide/venues/{{ v[1].slug }}"
            >
              {{ v[1].venueName }}
            </a>
            ({{ v[1].count }}) {% if not loop.last %}, {% endif %} {% endfor %}
            <div>and <strong>{{venueCount}}</strong> other venues down below ...</div>
          </div>
        </div>
      </div>
    </section>

    <div class=" text-center">
        <div class="flex place-content-center mb-4"><img src="assets/dancer-black.png" class="w-32" /></div>
        <div class="statistic uppercase text-4xl">there is music in every corner of our city</div>
        <div class="">(it's an aspiration as well as a reality)</div>
        <div class="mt-20 mb-4 text-2xl"><strong>Here's where the shows happened:</strong></div>
        <div class="mb-4">
          <div
          id="mapcluster"
          class="inline-block bg-black text-white text-2xl md:text-4xl border-2 border-black rounded-[4rem] px-4 py-1 mb-2 cursor-pointer"
        >
          venue explorer
        </div>
        <div
          id="mapheat"
          class="inline-block text-2xl md:text-4xl border-2 border-black rounded-[4rem] px-4 py-1 mb-2 cursor-pointer"
        >
          heatmap
        </div>
        </div>
    </div>
    <div id="map"
    class=""></div>

    <div class="text-center pb-6 mt-20">(There's some really cool shit down below, but just quickly - if we can take a moment to talk about ourselves ...)</div>
    <section
    class="w-full flex items-center justify-center text-3xl"
  >
    <div
      class="lg:w-1/2 p-6 lg:border-y-2 border-black text-center space-y-6"
    >
      <p class="font-bold">
        We spend 60 hours a week maintaining this resource.
      </p>
      <p>It's time well spent: our gig guide is read by 10,000 people every week &mdash; and our audience is growing quickly!</p>
      <p>78% of our users say that they see more live music because of what we do. 79.4% say they've discovered new music through the guide.</p>
      <p>Our project is currently 100% crowd-supported, and we do not receive any government funding. To enable us to continue gathering this information and help Sydney get out supporting our scene, please consider <a href="https://patreon.com/sydneymusic">becoming a Patreon supporter</a> or <a href="https://store.sydneymusic.net/">buying some merch</a>.</p>

      <div class="flex flex-col gap-4 text-xl w-full items-center">
        <a href="#" class="btn-cta">Join our Patreon</a>
        <a href="#" class="btn-cta">Visit our Online Store</a>
      </div>

      <p>And now read on to see the rest of what went on in 2024!</p>
    </div>
  </section>


    <section class="space-y-3 sm:px-10 lg:p-24 px-3">
      <div>
        <div class="statistic inline uppercase">2024 in a nutshell</div>
        <div>According to the data we collected. This information was collected by <strong>Zion Garcia</strong>, <strong>Joe Hardy</strong>, <strong>Genvin In</strong>, <strong>Jess Lord</strong>, <strong>Caitlin Welsh</strong> and <strong>David James Young</strong>. Thank you to our many, many supporters - we are very grateful that we've been able to get this far!</div>
      </div>

      <div class="pt-10">
        <div
          id="toggle-acts"
          class="inline-block bg-black text-white text-2xl md:text-4xl border-2 border-black rounded-[4rem] px-4 py-1 mb-2 cursor-pointer"
        >
          hardest gigging acts
        </div>
        <div
          id="toggle-venues"
          class="inline-block text-2xl md:text-4xl border-2 border-black rounded-[4rem] px-4 py-1 mb-2 cursor-pointer"
        >
          venues
        </div>
        <div
          id="toggle-by-date"
          class="inline-block text-2xl md:text-4xl border-2 border-black rounded-[4rem] px-4 py-1 mb-2 cursor-pointer"
        >
          all gigs by date
        </div>
      </div>

      <div id="acts-section" class="p-2 sm:p-8 mx-auto">

        <div class="mb-2">
          <span class="font-medium text-2xl bg-black text-white px-2">
            Top 100 acts
          </span>
        </div>
        <ul id="artist-list">
          {% for artistName, gigsArr in sortedArtistGigs %}
          <li>
            <div
              class="artist-item cursor-pointer inline-block hover:bg-black hover:text-white"
              data-artist="{{ artistName }}"
            >
              <span class="text-2xl font-medium">{{ artistName }}</span>
              ({{ gigsArr.length }})
            </div>
            <div
              class="gigs-for-artist hidden m-2"
              data-artist="{{ artistName }}"
            >
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>


      <div id="venues-section" class="hidden p-2 sm:p-8 mx-auto">
          <div class="mb-2">
          <span class="font-medium text-2xl bg-black text-white px-2">
            Top 100 Venues
          </span>
        </div>
          
        <ul id="venue-list">
          {% for id, data in sortedVenueGigs %}
          <li>
            <div
              class="venue-item inline-block hover:bg-black hover:text-white cursor-pointer"
              data-venue="{{ data.id }}"
            >
              <span class="font-medium text-2xl">{{ data.venueName }}</span>
              ({{ data.count }})
            </div>
            <div class="gigs-for-venue hidden m-2" data-venue="{{ data.id }}">
              <div
                class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 gap-4 mb-6"
              >
              </div>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div id="date-section" class="hidden p-2 sm:p-8 mx-auto min-h-screen">
        <div class="mb-2">
          <input
            type="date"
            id="date-picker"
            min="2024-01-01"
            max="2024-12-31"
            class="date-button text-2xl border-2 border-black rounded-[4rem] px-2 cursor-pointer"
            value="2024-01-01"
          />
        </div>
        <div id="date-gigs" class="mt-6"></div>
      </div>
    </section>
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
      <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
      <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" crossorigin="" />
      <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js"></script>
      <script src="/leaflet-heat.js"></script>
  </body>
</html>
